In [22]:
def bins_function(start_num, end_num, range_differ):
    real_end = end_num + range_differ
    bin_list = list(range(start_num, real_end, range_differ))
    return bin_list
def labels_function(bins):
    label_list = [str(bins[i]) + "-" + str(bins[i+1]) for i in range(len(bins)-1)]
    return label_list

bins = bins_function(0, 80, 10)
print(bins)
labels = labels_function(bins)
print(labels)

[0, 10, 20, 30, 40, 50, 60, 70, 80]
['0-10', '10-20', '20-30', '30-40', '40-50', '50-60', '60-70', '70-80']

In [13]:
import pandas as pd
result_ver1_df = pd.read_csv("https://raw.githubusercontent.com/lnl1119/2023SOS_result/main/2023SOS_result_all_clean_final.csv")
raw_df = result_ver1_df[["realscore", "AIscore"]]
raw_df

     realscore  AIscore
0           81       90
1           86       85
2           90       80
3           81       80
4           88      100
..         ...      ...
141         90       75
142         93       75
143         85       80
144         92       90
145         89       70

[146 rows x 2 columns]

In [14]:
raw_df = raw_df.assign(change=raw_df.iloc[:, 1] - raw_df.iloc[:, 0])
raw_df

     realscore  AIscore  change
0           81       90       9
1           86       85      -1
2           90       80     -10
3           81       80      -1
4           88      100      12
..         ...      ...     ...
141         90       75     -15
142         93       75     -18
143         85       80      -5
144         92       90      -2
145         89       70     -19

[146 rows x 3 columns]